################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomFluentValidation/v16
/CustomFluentValidation/obj/Debug
/ElectrixValidator/bin/Debug
/ElectrixValidator/obj/Debug
/packages
/CustomFluentValidation/bin/Debug
*.user
/Electrix.EAI.FluentValidation/bin/Debug
/Electrix.EAI.FluentValidation/obj/Debug
